@RenderBody()
<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetaPartical")
    @await Html.PartialAsync("CssPartical")
</head>
<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        @await Html.PartialAsync("HeaderPartical")

        <!-- Main -->
        @await Html.PartialAsync("MainPartical")
        <!-- Footer -->
        @await Html.PartialAsync("FooterPartical")
        <!-- Icons -->
        @await Html.PartialAsync("IconsPartical")
        <!-- Copyright -->



    </div>

    <!-- Scripts -->
    @await Html.PartialAsync("ScriptPartical")

</body>
</html>