@RenderBody()
<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetaPartical")
    @await Html.PartialAsync("CssPartical")
</head>
<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        @await Html.PartialAsync("HeaderPartical")
        <!-- Banner -->
        @await Html.PartialAsync("BannerPartical")
        <!-- Highlights -->
        @await Html.PartialAsync("HighlightsPartical")
        <!-- Footer --><!-- Icons --><!-- Copyright -->
        @await Html.PartialAsync("FooterPartical")
    </div>

    <!-- Scripts -->
    @await Html.PartialAsync("ScriptPartical")

</body>
</html>