<section class="wrapper style1">
	<div class="container">
		<div class="row gtr-200">
			<section class="col-4 col-12-narrower">
				<div class="box highlight">
					<i class="icon solid major fa-paper-plane"></i>
					<h3>Request for help</h3>
					<p>You find yourself in a difficult situation in which there is a clear threat to your life, write a request for assistance</p>

				</div>
			</section>
			<section class="col-4 col-12-narrower">
				<div class="box highlight">
					<i class="icon solid major fa-pencil-alt"></i>
					<h3>Write about your situation</h3>
					<p>Please describe in as much detail as possible what is wrong with you and what kind of help you need.</p>
					
				</div>
			</section>
			<section class="col-4 col-12-narrower">
				<div class="box highlight">
					<i class="icon solid major fa-hospital"></i>
					<h3>We will care about your well-being</h3>
					<p>Our staff will protect your health at all costs</p>

				</div>
			</section>
		</div>
	</div>
</section>